# system
tgcrypto
pyrogram
httpx[http2]>=0.18.1,<1.0.0

# others
av
aiohttp
psutil
ffmpeg-python
ffmpeg-downloader
pornhub-api==0.2.0
youtube-search
youtube_dl
youtube-search-python
git+https://github.com/yt-dlp/yt-dlp.git
